/* ---------------------------common style--------------------- */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
:root {
}
.primary-btn {
  height: 60px;
  background-color: #9b7ebd; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5%;
}
.primary-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* ******************************header section************************************* */
.head-part {
  margin-top: 60px;
}
/* nav part------------------ */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  align-items: baseline;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 45px;
  font-size: 20px;
}
nav > h3 {
  font-size: 30px;
  font-weight: 10px;
}
/* banner part---------------- */

.banner {
  display: flex;
  margin: 0 150px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.banner-content {
  width: 50%;
}
.banner-content p {
  font-size: 20px;
  margin-bottom: 25px;
}
.banner-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.banner-camera {
  /* margin-top: 60px;
  margin-right: 30px; */
}
.banner-img {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* *****************************main**************************** */
.sponssor {
  /* background-color: #9b7ebd; */
  border-top: 1px solid #9d9e9d;
  border-bottom: 1px solid #9d9e9d;
  margin: 100px 150px;

  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ***************responsive for device ********************************************** */

/* ---------------------------small device---------------------------------------- */

@media screen and (max-width: 576px) {
  /* common style */

  .primary-btn {
    margin-left: 30%;
    margin-right: 30%;
  }
  /* banner part ----------- */
  .banner {
    flex-direction: column-reverse;
    margin: 0;
  }
  .banner-img {
    background-size: 240px 240px;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .banner-camera {
    height: 220px;
    width: 190px;
    display: block;
  }
  .banner-content {
    width: 100%;
  }
  .banner-content h1 {
    font-size: 40px;
    text-align: center;
  }
  .banner-content p {
    text-align: center;
  }

  /* nav  ----------*/
  nav {
    flex-direction: column;
    margin: auto;
  }
  nav > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: darkcyan; */
  }
  nav > h3 {
    text-align: center;
    width: 100%;
    /* background-color: blueviolet; */
  }
  /* main---  ----------*/
  /* .sponssor */
  .sponssor {
    margin: 0;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    border: none;
    row-gap: 20px;
  }
}

/* ******************************for medium device ***************** */
